#search(ng-controller='SearchController')

	h1(ng-model="search")
		{{search.type}} ASDFL

	//- initialize the search form
	form(name='search')

		input(type='text', name='search', ng-model="search.current", ng-change="change()", value='{{search.current}}')



