%footer

	.jonmorehouse
		%a{:href=> "http://jonmorehouse.me"}
			%span= "Jon Morehouse"

	.twitter
		%a{:href=>"http://github.com/MorehouseJ09"}

	.github
		%a{:href=>"http://github.com/MorehouseJ09"}

	.email
		%a{:href=>"mailto:morehousej09@gmail.com"}

