/ this is the view place holder for our data on the left side of hte page
#profile{:"ng-view"=>"profile", :"ng-controller"=>"AppController"}

#search{:"ng-view" => "search", :"ng-controller"=>"AppController"}

#results{:"ng-view" => "results", :"ng-controller"=>"AppController"}

