!!! html	
%html
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
		%title= @config[:page_title]

		= stylesheet_link_tag @config[:stylesheet]

		/ now include the require js main module
		%script{:src => "/components/requirejs/require.js", "data-main" => "javascripts/#{@config[:require_app]}.js"}
		%script{:src => "/components/modernizr/modernizr.js"}

	%body
		#app
			= yield



