!!! html	
%html
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
		%title= @config[:page_title]

		/ generate a stylesheet for each passed in element
		- @config[:stylesheets].each do |s|

			= stylesheet_link_tag s
			

	%body
		#home		
			= yield




